<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Table</title>
    <style>
        @font-face {
            font-family: 'Pretendard';
            src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
            font-weight: 400;
            font-style: normal;
        }
        @font-face {
            font-family: 'Pretendard-Light';
            src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
            font-weight: 400;
            font-style: normal;
        }
        @font-face {
            font-family: 'Pretendard-Bold';
            src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
            font-weight: 400;
            font-style: normal;
        }

        body {
            margin-left: 80px;
            margin-right: 80px;
            font-family: Pretendard;
            background-color: #1a1a1a;
            color: #fff;
        }

        h1 {
            padding-left: 20px;
            font-family: Pretendard;
            font-size: 40px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            text-align: center;
            text-align: center;
        }
        
        .stock-row {
            color:#FFF;
            height: 50px;
            text-align: center;
        }
        thead tr {
            height: 25px;
            text-align: center;
        }
        .stock-row:hover{
            background-color: #444;
        }
        .positive {
            color: red;
        }
        .negative {
            color: #0185DE;
        }
        #mypage {
            /* float: right; */
            margin-top: 10px;
        }
        #ID {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        /* Style the tab */
        th {
            font-family: Pretendard-Light;
            background-color: #1a1a1a;
            color: #888;
            border-bottom: 1px solid #444;
            border-top: 1px solid #444;
            padding: 10px;
            text-align: center;
            height: 25px;
        }

        /* Style the buttons that are used to open the tab content */
        .tab button {
            background-color: inherit;
            font-size: large;
            color: #888;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            border-bottom: 2px solid transparent;
        }

        /* Optional: Change text color of active button */
        .tab button.active {
            border-bottom: 2px solid #fff;
            color: #fff;
        }

        .button {
            background-color: #0185DE;
            border-radius: 4px;
            border: none;
            color: white;
            padding: 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }

        .button:hover {
            background: #0191F2;
        }

        .tablinks {
            font-family: Pretendard-Bold;
        }

    </style>
</head>
<body>

<table>
    <tr>
        <td><h1>Stocks</h1></td>
        <td><p id="ID"></p></td>
        <td><button class="button" onclick="window.location='/myPage'">My Page</button></td>    
    </tr>
</table>
<p>Filter with name:</p><input type="text" id="filterInput"></input>

<div class="tab" margin-bottom="20px">
    <button class="tablinks" onclick="openTab(event, 'VolumeTab')" id="VButton">Volume</button>
    <button class="tablinks" onclick="openTab(event, 'MarketCapTab')" id="MCButton">Market Cap</button>
    <button class="tablinks" onclick="openTab(event, 'GainTab')" id="GainButton">Gain</button>
</div>
<table>
    
</table>
  <div id="VolumeTab" class="tabcontent">
    <table id="Volume">
        <thead>
            <th>Code</th>
            <th>Name</th>
            <th>Price</th>
            <th>Gain(24h)</th>
            <th>Volume(24h)</th>
            <th>Market Cap</th>
        </thead>
        <tbody>
        </tbody>
    </table>
  </div>
  
  <div id="MarketCapTab" class="tabcontent">
    <table id="MarketCap">
        <thead>
            <th>Code</th>
            <th>Name</th>
            <th>Price</th>
            <th>Gain(24h)</th>
            <th>Volume(24h)</th>
            <th>Market Cap</th>
        </thead>
        <tbody>
        </tbody>
    </table>
  </div>
  
  <div id="GainTab" class="tabcontent">
    <table id="Gain">
        <thead>
            <th>Code</th>
            <th>Name</th>
            <th>Price</th>
            <th>Gain(24h)</th>
            <th>Volume(24h)</th>
            <th>Market Cap</th>
        </thead>
        <tbody>
        </tbody>
    </table>
  </div>


    <script>
        console.log(sessionStorage);

        // if (sessionStorage.getItem("ID") === "undefined") {
        //     window.location = 'http://localhost:3000/login';
        // }
        if (sessionStorage.getItem('ID') === null || sessionStorage.getItem('ID') === undefined) {
            document.getElementById('ID').innerText = "Hello, Guest";
        } else {
        document.getElementById("ID").innerText = "Hello, "+sessionStorage.getItem("ID");
        }
        document.getElementById('VButton').click();
        document.getElementById('MCButton').click();
        document.getElementById('GainButton').click();
        document.getElementById('VButton').click();

        // onclick function for tabs
        

        function openTab(evt, tabName) {

            // remove columns in volumes, market caps, gains tables
            // document.getElementById("Volume").innerHTML = "";
            // document.getElementById("MarketCap").innerHTML = "";
            // document.getElementById("Gain").innerHTML = "";

            // Declare all variables
            var i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
            stockCode = document.getElementById("filterInput").value;
            console.log(stockCode);
            if (stockCode === undefined) stockCode = "";

            console.log(stockCode);

            // send request to get all stock informations and save it to session
            fetch('http://localhost:3000/api/getStocks', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    stockCode: stockCode
                })
            })
            .then(res => res.json())
            .then(data => {
                // console.log(data);
                // const stocks = JSON.parse(data);
                if (data['result'] === false) data['data'] = [{log: "No result"}]

                stocks = data;

                if (tabName == "VolumeTab") stocks.sort((a, b) => b.volume_24h - a.volume_24h);
                else if (tabName == "MarketCapTab") stocks.sort((a, b) => b.stocks_total*b.price - a.stocks_total*a.price);
                else if (tabName == "GainTab") stocks.sort((a, b) => b.gain_24h - a.gain_24h);
                
                console.log(tabName);
                if (tabName == "VolumeTab") var tb=document.getElementById("Volume");
                else if (tabName == "MarketCapTab") var tb=document.getElementById("MarketCap");
                else if (tabName == "GainTab") var tb=document.getElementById("Gain");
                else console.log("error");
                // console.log(typeof tb)

                while (tb.rows.length > 1) {
                    tb.deleteRow(1);
                }

                function rowClickHandler(row) {
                    return function() {
                        console.log(row.cells[0].textContent);
                        sessionStorage.setItem("stockCode", row.cells[0].textContent);
                        window.location = 'http://localhost:3000/trade';
                    }
                }

                for (let i = 0; i < stocks.length; i++) {
                    // console.log(stocks[i].code)
                    let row = tb.insertRow(-1);
                    row.className="stock-row";
                    let cell1 = row.insertCell(0);
                    let cell2 = row.insertCell(1);
                    let cell3 = row.insertCell(2);
                    let cell4 = row.insertCell(3);
                    let cell5 = row.insertCell(4);
                    let cell6 = row.insertCell(5);
                    cell1.textContent = stocks[i].code;
                    cell2.textContent = stocks[i].stock_name;
                    cell3.textContent = stocks[i].price;
                    cell4.textContent = stocks[i].gain_24h+"%";
                    console.log(parseFloat(stocks[i].gain_24h))
                    parseFloat(stocks[i].gain_24h)>0 ? cell4.className="positive" : cell4.className="negative";
                    if (parseFloat(stocks[i].gain_24h)===0) cell4.className="neutral";
                    cell5.textContent = stocks[i].volume_24h;
                    cell6.textContent = Math.round(stocks[i].stocks_total*stocks[i]['price']);
                    row.onclick = rowClickHandler(row);
                    tb.style.cursor = "pointer";
                }
            });
        }
            
    </script>

</body>
</html>