<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body>

     

    <h1>로그인</h1>
    <div>
        <table>
            <tr>
                <td><label>아이디</label></td>
                <td>
                    <label>
                        <input type="text" name="userID">
                    </label>
                </td>
                <td><label>비밀번호</label></td>
                <td>
                    <label>
                        <input type="text" name="userPassword">
                    </label>
                </td>
                
            </tr>
            
        </table>
    </div>

    <button id="submitBtn">로그인</button>

    <button onclick="signup()", id="signup", name="">회원가입</button>

    <script>
        function signup() {
            console.log("Signup button clicked");
            window.location = 'http://localhost:3000/signup';
        }

        document.getElementById("submitBtn").addEventListener("click", function(event) {
            event.preventDefault(); // Prevent default form submission

            console.log("Event type:", event.type);
            console.log("Target element:", event.target);

            // Get form data
            const userID = document.getElementsByName("userID")[0].value;
            const userPassword = document.getElementsByName("userPassword")[0].value;

            // Perform fetch request
            fetch('/api/user', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    ID: userID,
                    password: userPassword
                })
            })
            .then(response => response.json())
            .then(data => {
                console.log("Response data:", data);
                if(data.result == false) {
                    alert('ID or password is wrong');
                }
                else {
                    sessionStorage.setItem("ID", data.ID);
                    window.location = 'http://localhost:3000/list';
                }
            })
            .catch(error => {
                console.error("Fetch error:", error);
            });
        });
    </script>
</body>
</html>