<!DOCTYPE html>
<head>
    <style>
        @font-face {
            font-family: 'Pretendard';
            src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
            font-weight: 400;
            font-style: normal;
        }

        body {
            margin-left: 80px;
            margin-right: 80px;
            font-family: Pretendard;
            background-color: #1a1a1a;
            color: #fff;
        }
    </style>
</head>

<body>
    <h1>My Page</h1>
    <h1 id="ID"></h1>

    

    <script>

    </script>
</body>
</html>