<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            @font-face {
                font-family: 'Pretendard';
                src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
                font-weight: 400;
                font-style: normal;
            }
            @font-face {
                font-family: 'Pretendard-Light';
                src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
                font-weight: 400;
                font-style: normal;
            }
            @font-face {
                font-family: 'Pretendard-Bold';
                src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
                font-weight: 400;
                font-style: normal;
            }
    
            body {
                margin-left: 80px;
                margin-right: 80px;
                font-family: Pretendard;
                background-color: #1a1a1a;
                color: #fff;
            }

            h2 {
                margin-top: 20px;
            }

            th {
                width: 600px;
                font-family: Pretendard-Bold;
                background-color: #1a1a1a;
                color: #888;
                border-bottom: 1px solid #444;
                border-top: 1px solid #444;
                padding: 10px;
                text-align: center;
                height: 20px;
            }

            tbody, td, tfoot, tr {
                height: 20px;
                color: #fff;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <h1 id="ID"></h1>
        <h2>Financial ratios</h2>
        <table id="infos">
            <thead>
                <th>PER</th>
                <th>PBR</th>
                <th>Debt ratio</th>
            </thead>
        </table>
        <h2>Orderbook</h2>
        <div id="quotes"></div>
        <h2>Trade</h2>
        <div>
            <label for="buyCheckbox">Limit</label>
            <input type="radio" id="limitCheckbox" name="tradeType" checked="checked"/>
        </div>

        <div>
            <label for="sellCheckbox">Market</label>
            <input type="radio" id="marketCheckbox" name="tradeType"/>
        </div>
        

        <input id="priceInput" type="text" placeholder="Trade price"/>
        <input id="quantityInput" type="text" placeholder="Trade quantity"/>
        <button id="buyBtn" class="button", onclick="buyBtn()">Buy</button>
        <button id="sellBtn" class="button", onclick="sellBtn()">Sell</button>

        <h2>Filled Orders</h2>
        <div>
            <p >From</p><input id="startDate" type="date">
            <p>To</p><input id="endDate" type="date">
            <button id="searchBtn" onclick="searchHistBtn()">Search</button>
        </div>

        <table id="orders_filled">
            <thead>
                <th>Trade ID</th>
                <th>User_submitted</th>
                <th>Stock Code</th>
                <th>Side</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Timestamp</th>
            </thead>
        </table>

        <script>

            function drawInfo()
            {
                stockCode = sessionStorage.getItem('stockCode');
                fetch('http://localhost:3000/api/getStocks', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        ID: sessionStorage.getItem("ID"),
                        stockCode: stockCode,
                    })
                })
                .then(res => res.json())
                .then(data => {
                    console.log(data);
                    const PER = data[0]['PER']
                    const PBR = data[0]['PBR']
                    const debt_ratio = data[0]['debt_ratio']
                    const marketCap = data[0]['stocks_total']*data[0]['price']

                    infoTable = document.getElementById('infos')
                    var row = infoTable.insertRow();
                    var cell_per = row.insertCell();
                    var cell_pbr = row.insertCell();
                    var cell_debt_ratio = row.insertCell();
                    cell_per.textContent = Math.round(marketCap / PER*100)/100;
                    cell_pbr.textContent = Math.round(marketCap / PBR*100)/100;
                    cell_debt_ratio.textContent = debt_ratio+'%';
                })
            }

            drawInfo();

            function drawTable(table, data) {
                const rowCount = table.rows.length;

                for (let i = rowCount - 1; i > 0; i--) {
                    table.deleteRow(i);
                }
                console.log(data)
                keys = Object.keys(data);
                console.log(keys)
                for (var i = 0; i < keys.length; i++) {
                    var row = table.insertRow();
                    keys2 = Object.keys(data[keys[i]]);
                    for (var j = 0; j < keys2.length; j++) {
                        var cell = row.insertCell();
                        // console.log(keys2[j]);
                        if (keys2[j] === 'trade_unix_time')
                        {
                            console.log(data[keys[i]][keys2[j]])
                            cell.textContent = new Date(data[keys[i]][keys2[j]]).toLocaleDateString();
                        }
                            // cell.textContent = new Date(1730880187186).toLocaleString();
                        else cell.textContent = data[keys[i]][keys2[j]];
                    }
                }
            }
            function searchHistBtn() {
                var startDate = document.getElementById('startDate').valueAsNumber;
                var endDate = document.getElementById('endDate').valueAsNumber;
                var stockCode = sessionStorage.getItem("stockCode");
                if (isNaN(startDate)) startDate = 0;
                if (isNaN(endDate)) endDate = Date.now();
                console.log(startDate);
                console.log(endDate);
                fetch('http://localhost:3000/api/getFilledOrders', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        ID: sessionStorage.getItem("ID"),
                        stockCode: stockCode,
                        period_start: startDate,
                        period_end: endDate
                    })
                })
                .then(res => res.json())
                .then(data => {
                    console.log(data);
                    if (data['result'] === false) data['data'] = {log: "No Result"};
                    drawTable(document.getElementById('orders_filled'), data['data']);
                })
            }
            console.log(sessionStorage.getItem("stockCode"));
            document.getElementById("ID").innerText = "Trade " + sessionStorage.getItem("stockCode");
        </script>

        <script>
            function buyBtn() {
                if (sessionStorage.getItem("ID") === null || sessionStorage.getItem("ID") === undefined) {
                    alert('Please login first!');
                    return;
                }
                console.log("Buy button clicked");
                // get the radio value
                var orderType;
                document.getElementById("limitCheckbox").checked ? console.log("Limit") : console.log("Market");
                document.getElementById("limitCheckbox").checked ? orderType = "limit" : orderType = "market";
                if (orderType === 'limit') {
                    if (document.getElementById("priceInput").value === "" || document.getElementById("quantityInput").value === "") {
                        alert("Please fill in every blanks.");
                        return;
                    }
                }
                if (orderType === 'market') {
                    if (document.getElementById("quantityInput").value === "") {
                        alert("Please fill in 'quantity'.");
                        return;
                    }
                }
                
                
                fetch('http://localhost:3000/api/makeOrder', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        ID: sessionStorage.getItem("ID"),
                        stockCode: sessionStorage.getItem("stockCode"),
                        price: document.getElementById("priceInput").value,
                        quantity: document.getElementById("quantityInput").value,
                        type: orderType,
                        side: "buy"
                    })
                }).then(res => res.json())
                .then(data => {
                    console.log(data)
                    if (!data['success']) alert(data['log']);
                    
                })
            }

            function sellBtn() {
                if (sessionStorage.getItem("ID") === null || sessionStorage.getItem("ID") === undefined) {
                    alert('Please login first!');
                    return;
                }
                console.log("Sell button clicked");
                // get the radio value
                var orderType;
                document.getElementById("limitCheckbox").checked ? console.log("Limit") : console.log("Market");
                document.getElementById("limitCheckbox").checked ? orderType = "limit" : orderType = "market";
                
                fetch('http://localhost:3000/api/makeOrder', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        ID: sessionStorage.getItem("ID"),
                        stockCode: sessionStorage.getItem("stockCode"),
                        price: document.getElementById("priceInput").value,
                        quantity: document.getElementById("quantityInput").value,
                        type: orderType,
                        side: "sell"
                    })
                }).then(res => res.json())
                .then(data => {
                    console.log(data)
                    if (!data['success']) alert(data['log']);
                })
            }

            // Function to render the orderbook
            function renderOrderbook(orderbook) {
                // console.log(orderbook);
                const quotesDiv = document.getElementById('quotes');
                const table = document.createElement('table');

                table.style.width = '300px';
                
                // Create table header
                const header = table.createTHead();
                const headerRow = header.insertRow();
                ['Buy Quotes', 'Price', 'Sell Quotes'].forEach(text => {
                    const th = document.createElement('th');
                    th.textContent = text;
                    th.style.textAlign = 'center';
                    th.width = '100px'
                    headerRow.appendChild(th);
                });

                // Create table body
                const body = table.createTBody();

                // Combine and sort all prices
                const allPrices = [...new Set([...Object.keys(orderbook.buyOrders), ...Object.keys(orderbook.sellOrders)])].sort((a, b) => b - a);

                allPrices.forEach(price => {
                    const row = body.insertRow();
                    row.style.width = '300px';
                    const buyQuantity = orderbook.buyOrders[price] || '';
                    const sellQuantity = orderbook.sellOrders[price] || '';

                    const buyCell = row.insertCell();
                    buyCell.style.width = '100px';
                    buyCell.style.textAlign = 'center';
                    buyCell.textContent = buyQuantity;
                    buyCell.className = 'buy';

                    const priceCell = row.insertCell();
                    priceCell.style.width = '100px';
                    priceCell.style.textAlign = 'center';
                    priceCell.textContent = price;

                    const sellCell = row.insertCell();
                    sellCell.style.width = '100px';
                    sellCell.style.textAlign = 'center';
                    sellCell.textContent = sellQuantity;
                    sellCell.className = 'sell';
                });

                quotesDiv.appendChild(table);
            }

            // Main function to fetch data and render orderbook
            async function displayOrderbook() {

                let orderbook;
                fetch('http://localhost:3000/api/getOrderbook', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        stockCode: sessionStorage.getItem("stockCode")
                    })
                })
                .then(res => res.json())
                .then(data => {
                    const orderbook = data
                    console.log(orderbook)
                    renderOrderbook(orderbook);
                })

                
            }

            // Call the main function when the page loads
            window.onload = displayOrderbook;
        </script>
    </body>
</html>